
<div class='row'> <h1 class='page-header text-center the-head'>Add quote to database</h1> </div>
<%= form_for @quote, url: addquote_index_path do |f| %>
  <p class='text-center'><%= f.text_area :quote, placeholder: 'Quote', size: '70' %></p>
  <p class='text-center'><%= f.text_field :author, placeholder: 'Author' %> <%= submit_tag('Submit') %></p>
<% end %>
<%= link_to "Back", root_path, class: "btn btn-primary" %>
